body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: 100%;
    overflow: auto;
}

.container-all {
    width: 100%;
}

h1 {
    color: rgb(1, 205, 202);
    font-weight: 700;
    margin: 30px;
}


/* Меню навигации, нав бар */
nav {
    background-color: rgb(73, 73, 73);
}


/* Меню навигации, нав бар */
.link {
    font-size: 20px;
    padding-left: 40px;
    background-color: rgb(51, 56, 60);
}

.link div {
    width: auto;
    border-left: solid 1px rgba(255, 255, 255, 0.349);
    text-align: center;
    padding: 0 25px 0 25px;
}

.link a {
    color: rgba(255, 255, 255, 0.651);
}

.link a:hover {
    color: rgba(255, 255, 255, 0.863);
}

.link .active-link a {
    color: rgb(255, 255, 255);
}

.link .active-link {
    border-bottom: solid 3px rgb(1, 205, 202);
}


/* весь контент */
.container-cards {
    margin: 40px;
}


/* добавить посетителя */
.add-cards {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 20px;
}

.add-cards h5 {
    color: rgb(1, 205, 202);
}

.add-cards button {
    border-radius: 5px;
    background-color: rgb(218, 218, 218);
    border: solid 1px rgb(128, 128, 128);
    width: 160px;
    height: 30px;  
    cursor: pointer; 
}

.add-cards button:hover {
    background-color: rgb(1, 205, 202);   
}


/* Форма добавления посетителей */
.form-add-cards {
    width: 60%;
    border-radius: 3px;
    border: solid 1px rgb(128, 128, 128);  
    margin: 30px auto 50px auto;
    font-size: 15px;
    padding: 25px;
}


.form-add-cards div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.form-add-cards div label {
    width: 200px;
    margin-top: 5px;
}

.form-add-cards input {
    height: 40px;
}

.form-add-cards button {
    height: 40px;
    cursor: pointer;
    background-color: rgb(218, 218, 218);
    border: solid 1px rgb(128, 128, 128);
}

.form-add-cards button:hover {
    background-color: rgb(1, 205, 202);  
}

hr {
    margin: 30px 0;
    color: rgba(69, 69, 69, 0.809);
}


/* поиск посетителей */
.search-cards {
    display: inline-flex;
    align-items: center;
}

.search-cards label {
    margin-right: 10px;
}

.search-cards input {
    width: 200px;
    height: 30px;
    margin-right: 10px;
    border: solid 1px rgb(128, 128, 128);
    border-radius: 5px;
}


/* список посетителей */
.table-cards {    
    margin-top: 40px;
}

/* .list-cards tr {
    border-collapse: collapse;
} */

.table-cards th, .table-cards td {
    padding: 10px 10px;
    border: 1px solid rgb(24, 20, 20);
    text-align: center;
}

.table-cards table {
    width: 100%;
}

.title-cards {
    font-size: 15px;
}

.th-sort-cards {
    cursor: pointer;
}

.th-sort-cards:hover {
    background-color: rgb(179, 179, 179);
}

.btn-edit-cards {
    height: 40px;
    cursor: pointer;
    background-color: rgb(218, 218, 218);
    border: solid 1px rgb(128, 128, 128);
}

.btn-edit-cards:hover {
    background-color: rgb(247, 255, 142);
}

.error {
    font-size: 30px;
    color: rgb(253, 14, 14);
}
